html {
  /* 62.5% of 16 =10px */
  font-size: 62.5%;
}

body {
  margin: 10px;
  height: 200vh;
}

.container {
  border: 3px solid lightgray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap;
  align-content: center; */
  height: 90vh;
}

.box {
  flex-basis: 25rem;
  flex-grow: 1;
  flex-shrink: 1;
  flex: 1;
  width: 15rem;
  height: 15rem;
  background: tomato;
  margin: 1rem;
}

.box-one {
  /* align-self: flex-start; */
  /* flex-grow: 2; */
}
