html {
  /* 62.5% of 16 =10px */
  font-size: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.box {
  width: 200px;
  height: 200px;
  background: tomato;
}

.container {
  perspective: 200px;
}

.container:hover .box {
  /* transform: perspective(200px) translateZ(50px); */
  transform: rotateY(50deg);
  transform-origin: 0 50%;
}

.container:hover .box-special {
  transform: rotateX(45deg);
}
