body {
  margin: 10px;
}

.box {
  width: 200px;
  height: 200px;
  background: rgb(124, 62, 130);
  border: 10px dashed rebeccapurple;
  border-width: 10px 20px 10px 20px; /*trbl (top right bottom left)*/
  border-radius: 10px;
}
